body {
  background: whitesmoke
}
.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif
  }

.Header {
    display: flex;
    justify-content: flex-end;
    background: black;
    color: white;
    min-width: 460px
  }

.Header-Item {
    margin: 20px
}